{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="#">
<meta name="description" content="#">
<link rel="stylesheet" href="{% static 'base/css/style.min.css' %}">
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'base/css/monosocialiconsfont.min.css' %}">
<link rel="shortcut icon" href="{% static 'base/img/favicon.ico' %}">
