{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Base HTML Template{% endblock %}</title>
    {% include 'base/_head.html' %}
    {% block head %}{% endblock head %}
</head>

<body>
    <!-- Navigation -->
    {% include 'base/_navbar.html' %}
    <!-- Page Header -->
    {% block header %}{% endblock header%}
    <!-- Page Content -->
    <section id="wrapper">
        {% block content %}{% endblock content %}
        <!-- Page Footer -->
        {% include 'base/_footer.html' %}
    </section>
    <!-- Scripts for the template -->
    {% include 'base/_script.html' %}
    {% block scripts %}{% endblock scripts %}
</body>

</html>
