{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock title%}</title>
    <!-- Bootstrap core CSS -->
    <!-- Fonts -->
    <!-- Custom styles for the template -->
    {% block head %}{% endblock head %}
  </head>
  <body>
    <!-- Navigation -->
    {% include 'base/_navbar.html' %}
    <!-- Page Header -->
    {% block header %}{% endblock header%}
    {% block content %}{% endblock content %}
    <hr>
    <!-- Footer -->
    {% include 'base/_footer.html' %}
    <!-- Bootstrap core JavaScript -->
    <!-- Custom scripts for the template -->
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
