{% extends 'base/base.html' %}

{% load static %}

{% block title %}
    Blog Articles - Python Programming | TamePython
{% endblock title %}

{% block content %}

{% include 'base/_header.html' %}

{% for page_obj in page %}
    <ul id="post-list">
        <li>
            <aside class="dates">{{ page_obj.created_at|date:"M j, Y" }}</aside>
            <a href="{% url 'blog-article-detail-view' page_obj.slug %}">
                {{ page_obj.title }}
                <h2>Posted by {{ page_obj.author.fullname }}</h2>
            </a>
        </li>
    </ul>
{% endfor %}

{% endblock content %}
